<div class="container">
  <h1>Novo evento</h1>
  <%= render 'form' %>
</div>

<script>
  $(document).ready(function () {
    $('#event_date').datepicker({
      format: "dd/mm/yyyy"
    })
  })
</script>